<section class="container p-5">
    <div class="row align-items-center">
        <div class="col-md-6 mb-4 mb-md-0 text-center">
            <img src="assets/images/Foto.png" alt="Profile Image" class="img-fluid rounded-circle animated">
        </div>

        <div class="col-md-6 animated">
            <p class="text-muted mb-1 text-center">Hello, I'm</p>
            <h1 class="fw-bold mb-1 text-center">Jesús Alejandro Hernandez Alonso</h1>
            <p class="text-secondary fs-5 mb-4 text-center">Full-stack Developer</p>
            <p class="text-secondary text-justify">I am a versatile Full Stack Developer with extensive experience in building web and mobile applications. My skill set includes proficiency in programming languages such as TypeScript, JavaScript, Dart, and SQL, as well as expertise in frameworks like Angular, Flutter, Laravel, and Node.js. I specialize in creating responsive, user-centric designs utilizing modern tools like Tailwind CSS, Bootstrap, and Figma.</p>
            <div class="d-flex justify-content-center gap-3 mb-3">
                <button class="btn btn-outline-dark px-4 animated"><i class="icon bi bi-download"></i>Download CV</button>
                <button class="btn btn-dark px-4 animated"><i class="icon bi bi-envelope"></i>Contact Info</button>
            </div>
        </div>
    </div>
</section>
