<div class="d-flex justify-content-center align-items-center p-5">
  <div class="card">
    <div class="content">
      <div class="image-wrapper">
        <img
          *ngIf="dataSkill?.image || dataExperience?.image || (dataProject?.images && dataProject.images.length > 0)"
          [src]="dataSkill?.image || dataExperience?.image || (dataProject?.images?.[0] || '')"
          alt="Imagen"
          class="card-image"
        />
      </div>

      <h3>{{ dataSkill?.name || dataProject?.name || dataExperience?.name }}</h3>

      <!-- Para Project -->
      <p *ngIf="dataProject?.status">Status: {{ dataProject.status }}</p>

      <!-- Para Experience -->

      <p *ngIf="dataExperience?.startDate">
        {{ formatDate(dataExperience.startDate) }} -
        {{ formatDate(dataExperience.endDate) }}
      </p>

      <!-- Botón para Read more -->
      <a *ngIf="dataProject" [routerLink]="['/projects', dataProject.id]">Read more</a>
      <a *ngIf="dataExperience" [routerLink]="['/experience', dataExperience.id]">Read more</a>

    </div>
  </div>
</div>
