<div *ngIf="experience" id="experience-introduction" class="py-5">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <img *ngIf="experience.image" [src]="experience.image" class="img-fluid rounded img-margin-left"
                alt="{{ experience.name }}" />
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 text-start text-md-start">
            <span class="date-range">
                {{ formatDate(experience.startDate) }} - {{ formatDate(experience.endDate) }}
            </span>
            <h2 class="display-4 fw-bold mb-4">{{ experience.name }}</h2>
            <p class="lead text-muted mb-4">
                {{ formatDate(experience.startDate) }} - {{ formatDate(experience.endDate) }}
            </p>
            <p class="text-muted">
                {{ experience.description }}
            </p>
        </div>
    </div>
</div>

<section>
    <div id="carouselProjectIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-indicators">
            <button *ngFor="let project of projects; let i = index" type="button"
                data-bs-target="#carouselProjectIndicators" [attr.data-bs-slide-to]="i" class="btn btn-primary"
                [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)"></button>
        </div>
        <div class="carousel-inner">
            <div *ngFor="let project of projects; let i = index" class="carousel-item" [class.active]="i === 0">
                <app-card [dataProject]="project"></app-card>
            </div>
        </div>
        <button class="carousel-control-prev btn-carousel" type="button" data-bs-target="#carouselProjectIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-carousel" type="button" data-bs-target="#carouselProjectIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>