header {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a {
    color: #000;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #60cbe3, #3d45b9);
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}